[submodule "ublox"]
	path = ublox
	url = https://github.com/KumarRobotics/ublox.git
	branch = ros2
[submodule "vectornav"]
	path = vectornav
	url = https://github.com/dawonn/vectornav.git
	branch = ros2
[submodule "src/ublox"]
	path = src/ublox
	url = https://github.com/KumarRobotics/ublox.git
	branch = ros2
[submodule "src/vectornav"]
	path = src/vectornav
	url = https://github.com/dawonn/vectornav.git
	branch = ros2
[submodule "src/flir_camera_driver"]
	path = src/flir_camera_driver
	url = git@github.com:neufieldrobotics/flir_camera_driver.git
[submodule "src/doodle-labs-interface"]
	path = src/doodle-labs-interface
	url = git@github.com:neufieldrobotics/doodle-labs-interface.git
